<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>您有一条来自学生的导师申请</title>
</head>
<body>

<h2>学生导师申请</h2>
<!--<span style="font-weight: bold;font-size: 20px" th:text="${result}"></span>-->
<br>
<span>申请学生：</span><span style="font-weight: bold" th:text="${stuName}"></span>
<br>
<span>学生邮箱：</span><span style="font-weight: bold" th:text="${stuEmail}"></span>
<br>
<span>申请理由：</span><span style="font-weight: bold" th:text="${applyReason}"></span>
<br>
<span>学生详细信息请进您入系统查看</span>

</body>
</html>